# Path to your Lua C library directory (LUA_CPATH)
LUA_DIR = /usr/local/lib/lua/5.1

# Some distros require, for example, lua5.1 here
LUA_LIBNAME = lua

# Some distros put Lua include files in /usr/include/lua5.1, for example
LUA_INCLUDEPATH = /usr/include

# Set this to the path of your luadoc executable if you want to regenerate the
# documentation and the luadoc script isn't in your PATH
LUADOC = luadoc
